In [7]:
import pandas as pd

wekaweka = pd.read_csv("air_quality_no2.csv",index_col=0, parse_dates=True)
#The new column =>london_mg_per_cubic 
#Existing column => station_london
wekaweka["london_mg_per_cubic"] = wekaweka["station_london"] * 1.882

#checking ratios of values in Paris and Antwerp

#New column => ratio_paris_antwerp 

wekaweka["ratio_paris_antwerp"] = (
    wekaweka["station_paris"]/wekaweka["station_antwerp"]
)


wekaweka_rename = wekaweka.rename(

    columns={
        #old_name | New_name
        "station_antwerp":"Dan",
        "station_paris":"Dotty",
         "station_london":"Ronaldo"
    }

)

wekaweka_rename.head()

,Dan,Dotty,Ronaldo,london_mg_per_cubic,ratio_paris_antwerp
datetime,,,,,
2019-05-07 02:00:00,NaN,NaN,23.0,43.286,NaN
2019-05-07 03:00:00,50.5,25.0,19.0,35.758,0.495050
2019-05-07 04:00:00,45.0,27.7,19.0,35.758,0.615556
2019-05-07 05:00:00,NaN,50.4,16.0,30.112,NaN
2019-05-07 06:00:00,NaN,61.9,NaN,NaN,NaN